.page_techCrunch{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 0px;
    background-image: url(../../images/teslaBackground.jpeg);
}





