.page_apple{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 0px;
    background-image: url('../../images/AppleBackgournd.jpeg');
}

.card{
width:320px;
}


.card-body{
    font-weight: bold;
}



.card>:hover{
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}